
.Currency_Header{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   gap: 1rem;
   padding: 1rem;
}
.Currency_Header-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.Currency_Header-item h3{
    font-size: 1.4rem;
    letter-spacing: 0px;
    position: relative;
    bottom: 3px;
}
.Currency_Header-item .Currency_Header-item_left{
    display: flex ;
    flex-direction: column;
    position: relative;
    
}

.Currency_Header-item .Currency_Header-item_left span {
    font-size: 10px;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 3px;
}
.Currency_Header-item .Currency_Header-item_left h5 {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
@media  screen and (min-width: 1100px) {
    .Currency_Header{
        align-items: center;
        justify-content: center;
    }
    
}