.Sidebar{
    min-height: 95vh;
    width: 23rem;
    position: absolute;
    right: 0;
    top: 5rem;
    background: var(--background-nav);
    padding: 1rem;
    z-index: 10;

}

.Sidebar .Sidebar-downContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.Sidebar .Sidebar-navigation{
 display: flex;
 flex-direction: column;

 margin-top: 2rem;
 width: 90%;

}

.Sidebar .Sidebar-navigation a {
    text-decoration: none;
    color: var(--background-dmode-body);
    font-weight: 800;
    font-size: 22px;
    width: 100%;
    padding: 1rem;
    transition: 0.5s;
}

.Sidebar .Sidebar-navigation a:hover{
  
    background: var( --background-body);
    cursor:pointer;
}
.Sidebar .Sidebar-downContainer .search {
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
}

.Sidebar .Sidebar-downContainer input{
    border: none;
    outline: none;
    background: var(--background-body);
    padding: 0.5rem;
    width: 100%;
    border-radius: 15px;
   margin-left: 1rem;
}
.Sidebar .Sidebar-downContainer button{
    border:none;
    background: transparent;
    outline: none;
    cursor: pointer;
    margin-left: 2px;

}
.closed{
    display: none;
}

@media screen and ( max-width: 500px) {
    .Sidebar{
        width: 100%;
     }
}
@media screen and (min-width: 980px ) {
    .Sidebar{
        display: none;
    }
}