.Footer{
    width: 100%;
    min-height: 15rem ;
    background: var(--background-footer-color);
    margin-top: 2rem;
    padding: 1rem 2rem;
    transition: 0.5s;
}

.Footer .Footer_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.Footer_Container .Footer_Container-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    min-height: 15rem;
    transition: 0.5s;
}

.Footer_Container .Footer_Container-content .Footer_Container-content-about a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;

}
.Footer_Container .Footer_Container-content .Footer_Container-content-navigate,
.Footer_Container .Footer_Container-content  .Footer_Container-content-contac{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}
.Footer_Container .Footer_Container-content .Footer_Container-content-navigate h2,
.Footer_Container .Footer_Container-content  .Footer_Container-content-contac h2{
    color: var(--footer-item-color);
}
.Footer_Container .Footer_Container-content .Footer_Container-content-navigate nav {
 display: flex;
 flex-direction: column;
}
.Footer_Container .Footer_Container-content .Footer_Container-content-navigate a,
.Footer_Container .Footer_Container-content  .Footer_Container-content-contac a{
    color: var(--footer-item-color);
    text-decoration: none;
    font-size: large;
}

.Footer_Container .Footer_Container-content .Footer_Container-content-navigate a:hover,
.Footer_Container .Footer_Container-content  .Footer_Container-content-contac a:hover{
    color: var(--fotter-item-hover)
}

.Footer_Container .Footer_Container-content .Footer_Container-content-about a h4{
    margin-left: 10px;
    background: var(--linear-text-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}



.Footer_Container .Footer_Container-bottom{
    margin-top: 1rem;  
    width: 100%;
}

.Footer_Container .Footer_Container-bottom span{
    display: flex;
    text-align: center;
    width: 100%;
    color: var(--footer-item-color);
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .Footer_Container .Footer_Container-content{
        width: 100%;
    }
}

@media screen and (max-width: 630px){
    .Footer_Container .Footer_Container-content{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .Footer_Container .Footer_Container-content .Footer_Container-content-about,
    .Footer_Container .Footer_Container-content .Footer_Container-content-contac,
    .Footer_Container .Footer_Container-content .Footer_Container-content-navigate{
        align-items: center;
        justify-content: center;   
    }
    .Footer_Container .Footer_Container-content .Footer_Container-content-navigate nav {
        align-items: center;
    }
}

@media screen and (min-width: 1500px){
    .Footer_Container .Footer_Container-content{
        width: 90rem;
    }

}
@media  screen and (max-width:500px) {
  .Footer{
    margin-top: 0;
  }    
}